.container {
  width: 100vw;
  height: 100vh;

  background: #2448d8;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;
}

.background-shape {
  position: absolute;

  background: rgba(255, 255, 255, 0.03);

  border-radius: 50%;
}

.top {
  width: 700px;
  height: 700px;

  top: -350px;
  left: -100px;
}

.bottom {
  width: 900px;
  height: 900px;

  bottom: -500px;
  right: -200px;
}

.login-box {
  width: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 10;
}

.logo-container {
  width: 500px;
  height: 500px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: -100px;
}

.who-image {
  width: 100%;
  height: 100%;

  object-fit: contain;
}

.input-group {
  width: 100%;

  margin-bottom: 20px;
}

.input-group input {
  width: 100%;

  padding: 16px;

  background: transparent;

  border: 2px solid rgba(255, 255, 255, 0.4);

  outline: none;

  color: white;

  font-size: 14px;

  letter-spacing: 1px;
}

.input-group input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

button {
  width: 100%;

  padding: 16px;

  border: none;

  background: #e8e8e8;

  color: #2448d8;

  font-weight: bold;

  font-size: 16px;

  cursor: pointer;

  transition: 0.3s;
}

button:hover {
  transform: scale(1.02);
}

.forgot-password {
  margin-top: 18px;

  color: white;

  font-size: 14px;

  opacity: 0.8;

  cursor: pointer;
}